li a {
    color: gold;
    list-style-type: none;
    text-decoration: none;
}

.events {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.events ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}